.Title {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  &__text {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}

.Gallery {
  height: calc(100% - 4rem);
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  img {
    width: 100%;
    margin: 25px 0;
    cursor: pointer;
    &:hover {
      border: 1px solid blue;
    }
  }
}

.Loader {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__center {
    height: 9.375rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.Error{
  padding: 0.75rem;
  color: #D8000C;
  background-color: #FFD2D2;
}

@media (min-width: 320px) and (max-width: 767px) {
  .Gallery {
    display: grid;
    grid-template-columns: 1fr;
  }
}
