@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

.PhotoWrapper {
  background-color: black;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.PhotoTitle {
  width: 100%;
  height: 4rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem;
  box-sizing: border-box;
  &__inline {
    display: flex;
    justify-content: space-between;
  }
  span {
    color: white;
  }

  &__close {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      &::before,
      &::after {
        background: darkgrey;
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #fff;
    }
    &::before {
      @include transform(rotate(45deg));
    }
    &::after {
      @include transform(rotate(-45deg));
    }
    &::before,
    &::after {
      width: 200%;
      left: -50%;
    }
  }
}
